/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


	

 
body{
background-color: #1a2325;
color: white;
	padding-top: 400px;
	padding-left: 75px;
	padding-right: 75px;
	padding-bottom: 200px;
}

h1{
	font-family: "Ethica", sans-serif; 
	font-size:36px;
	padding-top: 10px;
	padding-bottom: 15px;
}

h2{
	font-family: "Ethica", sans-serif; 
	font-size: 24px
	color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
}

body{
	font-family: "LFT Ethica", sans-serif; 
	font-size: 16px; 
	padding-top: 15px;
	padding-bottom: 15px;
}

.Grey {color: #555a5b; 
padding-top: 15px;
	padding-bottom: 15px;
}


button{
	background-color:#01bfc1; color: #ffffff;
	font-family: "LFT Ethica", sans-serif; 
	font-size: 14px;
}

.Check {
	color: #01bfc1
	padding-top: 15px;
	padding-bottom: 15px;
}

.Image {
	padding-bottom: 75px;
	padding-top: 40px;
}

p{
	color: #abadad
}

.Logo {
	padding-bottom:150px;
}




