/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


	

 
body{
	background-color: #1a2325;
	margin-right: auto;
	margin-left: auto;
	width: 1100px;
	height: 2500px;
	border-top: 1px red; 


}


h1{
	font-family: "Quatro Slab";
	font-size:36px;
	padding-top: 100px;
	padding-bottom: 20px;
	color: white;
}


h2{
	font-family: "Quatro Slab";
	font-size: 24px
	padding-bottom: 10px;
	padding-top: 20px;
	color: white;
	display: inline;
	padding-right: 30px;

		

}

p{
	font-family: "lft Etica"; 
	font-weight: 400px;
	font-size:16px;
	color: #6d7171;
	width: 500px;
	color: #abadad;
	padding-bottom: 10px;

}



button{
	color: white;
	border: none;
	background-color: #01ccce;
	padding: 15px 32px;
	text-align: center;
	font-family: "LFT Ethica";
	font-size: 14px;
	font-weight: 600;
	position: absolute;
}

a.button: hover{
	color: #1a2325;

}

a.button: {
	text-decoration: none;
	color: white;
	font-family: "LFT Etica"
	font-size: 14px;
}

.check {
	color: #126769;
	padding-top: 40px;
	padding-bottom: 40px;
}

.image {
	position: absolute; 
	margin-left: 600px; 
	margin-bottom: 120px;
}


.logo {
    border-style: solid;

}
.hr {
  background-color: #f8695a;
  width: 1270px;
  height: 2px;
}

.grey {
	color: #555a5b;
	font-size: 16px;
	padding-bottom: 30px;

}

article{
	padding-bottom: 500px;
}

.hrdots{
  border:none;
  border-top:1px dotted #31393b;
  height:2px;
  width:35%;
  padding: 20px;

}

.hrdots2{
  border:none;
  border-top:1px dotted #31393b;
  height:2px;
  width:83%;
  padding: 20px;

}




